/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap');


body{
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  min-height: calc(100vh - 0px);
}

.main-heading-bold{
  font-size: 37px;
  text-align: center;
  margin:2% 0px;
  font-family: 'Nunito Sans', sans-serif;
  border-bottom: 2px solid #efefef;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

h3{
  margin-left: 4rem;
  font-family: 'Nunito Sans', sans-serif;
  color: white;
}

label{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}



input[type="text"], select {
  padding:4%;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 5%;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
}

input[type="text"], select{
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: #000000;
  background-color: #fff;
  border: 1px solid #d2d6da;
  appearance: none;
  border-radius: 0.5rem;
  transition: box-shadow 0.15s ease, border-color 0.15s ease;
}

::placeholder{
  color: #000000;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* .main-container{
  width:1200px;
  margin-left: 300px;
  margin-right: auto; */
  /* display: grid;
  grid-template-columns: 28% 28% 28% 28%;
  row-gap: 15px;
  justify-content: center;
} */

/* CSS */
.button-22 {
  align-items: center;
  appearance: button;
  background-color: #fff;
  border-radius: 8px;
  border-style: none;
  border-color: solid #9900cc;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #9900cc;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 15px;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* .button-22:active {
  background-color: #006AE8;
}

.button-22:hover {
  background-color: #1C84FF;
} */

.main-container{
  grid-template-columns: 200% 200%;
}

.column, .flex-box-container {
  display: inline-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.5rem;
}

.column div, .flex-box-container div, .button-22{
  width:21rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* .flex-box-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.5rem;
} */

/* .flex-box-container div, .button-22{
  width:21rem;
} */

.button-22{
  text-align: center;
}

.button{
  border: 3px solid #9900cc;
  border-radius: 8px;
}

.text{
  width: inherit;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  padding: 0.6rem;
  padding-top: 0.1rem;
  font-size: 20px;
}

.result{
  width:inherit;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.5rem;
}

/* alignments for different screen sizes */
@media (min-width:1250px){
  .main-heading-bold{
    font-size: 38px;
  }

  .text{
    width: inherit;
    font-size: 18px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1100px){
  .text{
    width: inherit;
    font-size: 18px;
  }

  .column div, .flex-box-container div {
    width:inherit;
    margin: 0.3rem;
  }

  .button{
    width: fit-content;
  }
}

@media all and (min-width:600px) and (max-width:800px){
  .main-heading-bold{
    font-size: 32px;
  }

  .column, .flex-box-container{
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .column div, .flex-box-container div, .button-22 {
    width: 20rem;
  }

  .column div, #thal-value{
    padding: 0.5rem;
  }
}

@media (max-width: 600px){
  .main-heading-bold{
    font-size: 23px;
  }

  .column, .flex-box-container{
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .column div, .flex-box-container div, .button-22 {
    width: 17rem;
  }

  .column div, #thal-value{
    padding: 0.5rem;
  }
}

@media (max-width:300px){
  .column div, .flex-box-container div, .button-22 {
    width: 15rem;
  }
}

/* preventing chrome to autofill input field color from background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}